* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

/* --------------- Shared Properties --------------------- */
header, footer, .skill-card {
  background-color: seagreen;
}

/* --------------------- Header -------------------------- */

.nav-tabs {
  align-items: center;
  border-radius: 40px;
  display: flex;
  flex-grow: 1;
  height: 100px;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 10px;

}

nav {
  flex-grow: 1;
}

/* Parent div of links in header */
nav-item {
  flex-wrap: wrap;
}

/* At ~720px wide, the nav buttons will begin overlapping */
@media (max-width: 720px) {
  /*
  Drop the nav tabs below my name and then center my name since
  it no longer has tabs to its right
  */
  header {
    display: flex;
    flex-direction: column;
  }
  header h1 {
    text-align: center;
  }
}

/* ------------------------------------------------------- */
/* ----------------------- footer ------------------------ */

footer {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

div.footer-icon a {
  padding-left: 10px;
}

/* ------------------------------------------------------- */

body {
  background-color: darkgreen;
}


a:visited, a:link {
  color: white;
}

#project-card-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.project-card {
  background-color: wheat;
  box-sizing: border-box;

  border-radius: 5vw;
  box-shadow: 10px 5px 5px orangered;
  color:#5d0cff;
  /*flex: 0, 0, 50%;*/
  padding: 10vw;
  margin-top: 200px;
  margin-bottom: 50px;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 30vw;
  height: 30vw;

  a {
    color: black;
    font-size: 18pt;
  }
}



/* ----------------- Resume.jsx --------------------- */

.resume-header {
  text-align: center;
  color: white;
}

div:has(> .resume-header) {
  text-align: center;

  a {
    text-align: center;
    font-size: 24pt;
  }
}

.skills {
  display: flex;
  flex-direction: column;
}

.skill-card {
  color: white;
  font-size: 16pt;
  flex: 1;
  margin: 10vw;
  padding: 10vw;
  width: 80vw;
  height: 200px;
  border-radius: 10vw;
}

/* Do some media queries for mobile-first design */

/*
16pt font + some wiggle room is just big enough for a
small mobile device and hence is the default. Give
a bump up in all but the smallest screens (<480px wide)
*/

@media (min-width: 480px) {
  .skill-card {
    font-size: 24pt;
  }
}

/* -------------------------------------------------- */

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}