* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

header {
  background-color: rgb(107, 150, 34);
}

nav {
  flex-grow: 1;
}

body {
  background-color: darkgreen;
}

.nav-tabs {
  align-items: center;
  border-radius: 40px;
  display: flex;
  flex-grow: 1;
  height: 100px;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 10px;

}
a:visited, a:link {
  color: white;
}

#project-card-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
}

.project-card {
  background-color: wheat;
  box-sizing: border-box;

  border-radius: 5vw;
  box-shadow: 10px 5px 5px orangered;
  color:#5d0cff;
  /*flex: 0, 0, 50%;*/
  padding: 10vw;
  margin-top: 200px;
  margin-bottom: 50px;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 30vw;
  height: 30vw;

  a {
    color: black;
    font-size: 18pt;
  }
}

a#portfolio-link:active {
  #leaf-container-1 {
    background-image: url("./assets/Leaf_icon_03.svg");
    /*
    position: relative;
    -webkit-animation: fallingLeaf 2s normal ease-out;
    animation: fallingLeaf 2s normal ease-out;
    */
  }
}

@-webkit-keyframes fallingLeaf {
  0% {
    top: 0px;
  }
  100% {
    top: 500px;
  }
}

@keyframes fallingLeaf {
  0% {
    top: 0px;
  }
  100% {
    top: 500px;
  }
}


/* Parent div of links in header */
nav-item {
  flex-wrap: wrap;
}

/*
a.nav-link:hover:after {
  content: '🍃';
}
*/


/* ----------------- Resume.jsx --------------------- */

.resume-header {
  text-align: center;
  color: white;
}

div:has(> .resume-header) {
  /*text-align: center;*/

}

.skills {
  display: flex;
  flex-direction: column;
}

.skill-card {
  color: white;
  font-size: 16pt;
  flex: 1;
  margin: 10vw;
  padding: 10vw;
  width: 80vw;
  height: 200px;
  background-color: darkslategray;
  border-radius: 10vw;
}

/* Do some media queries for mobile-first design */

/*
16pt font + some wiggle room is just big enough for a
small mobile device and hence is the default. Give
a bump up in all but the smallest screens (<480px wide)
*/

@media (min-width: 480px) {
  .skill-card {
    font-size: 24pt;
  }
}

/* -------------------------------------------------- */
header {
  display: flex;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

h3 {
  margin: auto;
  color: rgb(66, 171, 231);
  font-size: 20px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.low {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.medium {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.high {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

/* Dropdown menu */

/* Dropdown Button */
.dropbtn {
  background-color: #ec5700;
  border-radius: 4px;
  color: white;
  padding: 16px;
  margin: 10px;
  /* font-size: 16px; */
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 215px;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content p:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #5d0cff;
}

